/* 全体 */
body {
  margin: 0;
  display: flex; /* ← 重要 */
}

/* 目次　*/
#toc {
  width: 30vh;
  height: 100vh;
  background: #111827;
  padding: 16px;
  top: 0;
}

/* 目次カテゴリ見出し */
.toc-category {
  color: #9ca3af;
  font-size: 12px;
  margin-top: 16px;
  margin-bottom: 6px;
}

#toc a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 14px;
  margin: 6px 0;
}

#toc a:hover {
  color: white;
}

/* 本文（右カラム） */
#content {
  flex: 1;
  padding: 24px;
  max-width: 900px;
  margin: 0 auto;
}

/* 見出し */
#content h1 {
  font-size: 24px;
  border-bottom: 2px solid #ddd;
}

#content h2 {
  font-size: 16px;
  margin-top: 10px;
  /* margin-bottom: 12px; */
  border-bottom: 1px solid #ddd;
}

#content h3 {
  font-size: 16px;
  margin-top: 18px;
  margin-bottom: 8px;
}

/* Markdown本文 */
#content section {
  line-height: 1.7;
  font-size: 15px;
}

/* リンク */
#content a {
  margin: 0;
  color: #2563eb;
}