/* 目次　*/
#sidebar {
  width: 30vh;
  height: 100vh;
  background: #111827;
  padding: 16px;
  top: 0;
}

/* 目次カテゴリ見出し */
.sidebar-category {
  color: #9ca3af;
  font-size: 12px;
  margin-top: 16px;
  margin-bottom: 6px;
}

#sidebar a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 14px;
  margin: 6px 0;
}

#sidebar a:hover {
  color: white;
}